ul {
    display: grid;
    grid-template-columns: 🥇
    🥈: 200px;
    gap: 1rem;
}


iframe {
    pointer-events: none;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-shadow: 1px 3px 8px rgb(0 0 0 / 50%);
}


ul {
    list-style: none;
}




.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(43, 41, 41, 0.861);
}


.overlay {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 80%;
    place-content: center;
    overflow: hidden;
}


.overlay iframe {
    pointer-events: all;
}


* {
    box-sizing: content-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

